*{
    margin:0;
    border: 0;
    padding:0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    padding: 20px;
    display: flex;
    width: 100%;
    background-color: #d8d8d8;
    justify-content: center;
}
.logo{
    position: absolute;
    margin: auto;
    color: #838383;
}
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    z-index: 2;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #828282;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: #d7d7d7;
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
    background: #d7d7d7;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    background: #d7d7d7;
}
div[class="sidebar"] {
    width: 300px;
    height: 100%;
    background: #828282;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.5);
}
.sidebar-menu {
    margin-top: 80px;
}
.menu-button {
    padding: 10px;
    margin: 20px;
    background: #d7d7d7;
    text-align: center;
    border-radius: 8px;
    color: #828282;
    font-weight: bold;
}
a {
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
}
#from{
    border: 5px solid #fd7373;
    margin:20px;
    height: 30px;
    border-radius: 15px;
    color: grey;
}
#to{
    border: 5px solid #fde400;
    margin:0 20px;
    height: 30px;
    border-radius: 15px;
    color: grey;
}
#search{
    height: 30px;
    line-height: 30px;
    padding: 5px;
    margin: 0 40px;
    background-color: #6a9be8;
    color: white;
    border-radius: 30px;
    text-align: center;
}
.map{
    margin: 20px;
    border: 5px solid #f77070;
    border-radius: 15px;
}
.map a{
    color: grey;
    padding: 3px;
    font-size: 10px;
    text-decoration: none;
}
.info{

}