*{
    margin:0;
    border: 0;
    padding:0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    background-color: gray;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 30px;
    margin-left: auto;
}
.menu{
    font-size: 30px;
    margin-left: auto;
}

#from{
    border: 5px solid pink;
    margin:20px;
    height: 30px;
    border-radius: 15px;
    color: gray;
}
#to{
    border: 5px solid yellowgreen;
    margin:20px;
    height: 30px;
    border-radius: 15px;
    color: gray;
}
#search{
    width: 100%;
    height: 30px;
    margin: auto;
    background-color: lightskyblue;
    color: white;
    border-radius: 15px;
}
.map{
    margin: 20px;
    border: 5px solid coral;
    border-radius: 15px;

}
.map a{
    color: gray;
    padding: 3px;
    font-size: 10px;
    text-decoration: none;
}
.info{

}