*{
    margin:0;
    border: 0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-color: #f4f4f4;
}
.deco-line {
    position: absolute;
    width : 30px;
    height: 100%;
    left: 50%;
    margin-left: -15px;
    background: #838383;
    z-index: 0;
 }
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;
    margin-top: 100px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 43px;
    background-color: #d8d8d8;
    justify-content: center;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
h1 {
    color: #838383;
}
a {
    color: white;
    text-decoration: none;
}
.logo{
    position: absolute;
    margin: auto;
}
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 11px;
    margin-top: 11px;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #828282;
    transition: all .35s;
    z-index: 2;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"] + label span:nth-child(4) {
    top: -5px;
    left: -2px;
    height: 150%;
    width: 110%;
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: #d7d7d7;
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
    background: #d7d7d7;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    background: #d7d7d7;
}
div[class="sidebar"] {
    width: 300px;
    height: 100%;
    background: #828282;
    position: fixed;
    top: 0;
    right: -300px;
    transition: all .35s;
    z-index: 1;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.5);
}
.sidebar-menu {
    margin-top: 80px;
    z-index: 3;
    text-align: center;
}
.menu-button {
    padding: 10px;
    margin: 20px;
    background: #d7d7d7;
    text-align: center;
    border-radius: 8px;
    color: #828282;
    font-weight: bold;
    transition: 0.35s;
}
.menu-button:hover {
    background-color: rgba(62,62,62,0.77);
    color: white;
}
#welcome-text {
    font-size: 20px;
    color: #d7d7d7;
    font-weight: bolder;
    border: 3px dashed #d7d7d7;
    border-radius: 20px;
    margin: 0 20px 50px;
    padding: 20px 0;
}
#logoutForm {
    margin: 30px auto;
    padding: 10px;
    background: #d7d7d7;
    text-align: center;
    border-radius: 8px;
    color: #828282;
    font-weight: bold;
    transition: .35s;
}
#logoutForm:hover {
    background-color: rgba(62,62,62);
    color: white;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
    transition: all .35s;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
input[id="menuicon"]:checked ~ .background{
    opacity: 1;
    visibility: visible;
}
main {
    z-index: 1;
}
form{
    display: flex;
    flex-direction: column;
}
#from{
    border: 10px solid #fd7373;
    margin-top: 20px;
    height: 50px;
    border-radius: 60px;
    color: grey;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
#to{
    border: 10px solid #fde400;
    margin-top: 40px;
    height: 50px;
    border-radius: 60px;
    color: grey;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
#layover{
    position: absolute;
    border: 10px solid #73aafd;
    margin-top: 20px;
    height: 50px;
    border-radius: 60px;
    color: grey;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all .35s;
    visibility: hidden;
    opacity: 0;
}
#layover-btn{
    line-height: 30px;
    width: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #73aafd;
    color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all .35s;
}
input[id="addButton"] {
    display: none;
}
input[id="addButton"] + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    transition: all .35s;
}
input[id="addButton"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 0;
    background: #ffffff;
    z-index: 2;
    transition: all .35s;
}
input[id="addButton"] + label span:nth-child(1) {
    top: 0;
    transform: translateY(-25%);
}
input[id="addButton"] + label span:nth-child(2) {
    top: 0;
    transform: rotate(-90deg) translateX(7%);
}
input[id="addButton"] + label span:nth-child(3) {
    top: -25px;
    left: -15px;
    height: 270%;
    width: 200%;
    opacity: 0;
}
input[id="addButton"]:checked + label span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg);
}
input[id="addButton"]:checked + label {
    margin-top: 80px;
}
#search-text {
    height: 50px;
    width: 120px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6a9be8;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: 0.35s;
}
#search-text:hover {
    background-color: rgba(62,62,62);
}
#map{
    height: 30px;
    width: 120px;
    line-height: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fd7373;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: 0.35s;
}
#map:hover{
    background-color: rgba(62,62,62);
}
.info{

}
footer {
    width: 100%;
    height: 43px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #d7d7d7;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}