*{
    margin:0;
    border: 0;
    padding:0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-left: auto;
    color: #838383;
}
.menu{
    font-size: 30px;
    margin-left: auto;
}
.menu ul{
    display: none;
    font-size: 20px;
    list-style: none;
}
.menu:hover{
    color: white;
}
.menu:hover ul{
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
}

#from{
    border: 5px solid #fd7373;
    margin:20px;
    height: 30px;
    border-radius: 15px;
    color: grey;
}
#to{
    border: 5px solid #fde400;
    margin:0 20px;
    height: 30px;
    border-radius: 15px;
    color: grey;
}
#search{
    height: 30px;
    margin: 0 40px;
    background-color: #6a9be8;
    color: white;
    border-radius: 15px;
}
.map{
    margin: 20px;
    border: 5px solid #f77070;
    border-radius: 15px;
}
.map a{
    color: grey;
    padding: 3px;
    font-size: 10px;
    text-decoration: none;
}
.info{

}