*{
    margin:0;
    border: 0;
    padding:0;
}
#container{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
h1 {
    display: flex;
    text-align: center;
    color: #838383;
}
#fullMap {
    -webkit-user-drag: none;
    left: 5%;
    position: relative;
}
.popup {
    visibility: hidden;
    position: fixed;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #d7d7d7;
    line-height: 1;
    z-index: 1;
    color: #828282;
    text-align: center;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.15s;
}
#stationName {
    font-size: 25px;
}
a {
    text-decoration: none;
}

.button {
    width: 80px;
    height: 15px;
    padding: 10px;
    margin: 7px 0;
    border-radius: 20px;
    color: white;
}
#start {
    background-color: #73aafd;
}
#end {
    background-color: #fd7373;
}
#via {
    background-color: #fde400;
    color: #838383;
}
.popup-trigger:hover + .popup {
    display: block;
}
.map {
    z-index: 0;
}