*{
    margin:0;
    border: 0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
}
.header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
h1 {
    display: flex;
    text-align: center;
    color: #838383;
}
#fullMap {
    -webkit-user-drag: none;
    left: 5%;
    position: relative;
}
.popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #d7d7d7;
    line-height: 1;
    z-index: 1;
    color: #828282;
    text-align: center;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.15s;
}
#stationName {
    font-size: 25px;
}
a {
    text-decoration: none;
    color: white;
}

.button {
    width: 80px;
    height: 15px;
    padding: 10px;
    margin: 4px 0;
    border-radius: 20px;
    color: white;
}
button {
    background: white;
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 19px;
}
#start {
    background-color: #73aafd;
    transition: 0.35s;
}
#start:hover {
    background-color: #838383;
}
#end {
    background-color: #fd7373;
    transition: 0.35s;
}
#end:hover {
    background-color: #838383;
}
#lay {
    background-color: #fde400;
    color: #838383;
    transition: 0.35s;
}
#lay:hover {
    background-color: #838383;
    color: white;
}
.popup-trigger:hover + .popup {
    display: block;
}
.map {
    padding-top: 43px;
    z-index: 0;
}
.result {
    position: fixed;
    left: 77%;
    top: 100px;
    background-color: #ffffff;
    border: 5px solid #d7d7d7;
    width: 280px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    user-select: none;
    opacity: 0.85;
}
.opacity-bar {
    padding: 10px;
    accent-color: #838383;
    transition: background 450ms ease-in;
}
.result input[type="range"] {
    width: 100%;
    height: 10px;
    margin-top: 10px;
}
.result > div {
    height: 30px;
    font-size: 20px;
    color: white;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 20px;
}
.result > div:nth-child(1) {
    background-color: #73aafd;
    visibility: hidden;
    opacity: 0;
    transition: all .35s;
}
.result > div:nth-child(2) {
    background-color: #fd7373;
    visibility: hidden;
    opacity: 0;
    transition: all .35s;
}
.result > div:nth-child(3) {
    background-color: #fde400;
    color: #838383;
    visibility: hidden;
    opacity: 0;
    transition: all .35s;
}
.result > div:nth-child(4) {
    margin: auto;
    text-align: center;
    background-color: #838383;
    width: 30%;
    border-radius: 30px;
}
.reset {
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 6px;
    left: 80%;
    font-weight: bolder;
    color: #838383;
    transition: all .35s;
    border-radius: 5px;
}
.reset:hover {
    background-color: #838383;
    color: #f77070;
}
#search-button {
    width: 40%;
    background-color: #838383;
    color: white;
    border-radius: 20px;
    margin: 5px 30% 0;
    padding: 10px;
    transition: 0.35s;
}
#search-button:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #838383;
}