h1 {
    display: flex;
    background-color: grey;
    text-align: center;
}
.popup {
    display: none;
    position: absolute;
    top: 40%;
    left: 37%;
    padding: 10px;
    background-color: #00af50;
    border: 1px solid #ccc;
    z-index: 1;
}
#popup-trigger:hover + #popup-content {
    display: block;
}
#fullMap {
    position: relative;
}