<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wetro 메인페이지</title>
    <link rel="stylesheet" href="/css/main_page.css">
</head>
<body>
<div id="container">
    <div class="header">
        <div class="logo">WETRO</div>
        <div class="menu">=</div>
    </div>
    <form action="/wetro/main" method="post">
        <input type="text" id="from" value="출발역" ><br>
        <input type="text" id="to" value="도착역"><br>
        <button type="submit" id="search">길찾기</button>
    </form>
    <div class="map">
        <a href="map" target="_blank">노선도 보기</a>
    </div>
</div>
<footer class="info">
    <a href="#">웹사이트 기타 정보</a>
</footer>
</body>
</html>