<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>노선도</title>
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
<div id="container">
    <div class="header">
        <h1>노선도</h1>
    </div>
    <div class="main">

    </div>
    <div class="map">
        <img src="/img/map.png" usemap="#map" alt="No view" id="fullMap">
        <map name="map" id="map">
            <area shape="circle" coords="44, 367, 8" href="#" alt="101" class="popup-trigger">
            <area shape="circle" coords="44, 432, 8" href="#" alt="102" class="popup-trigger">
            <area shape="circle" coords="44, 504, 8" href="#" alt="103" class="popup-trigger">
            <area shape="circle" coords="45, 574, 8" href="#" alt="104" class="popup-trigger-bottom">
            <area shape="circle" coords="44, 646, 8" href="#" alt="105" class="popup-trigger-bottom">
            <area shape="circle" coords="79, 697, 8" href="#" alt="106" class="popup-trigger-bottom">
            <area shape="circle" coords="157, 698, 8" href="#" alt="107" class="popup-trigger-bottom">
            <area shape="circle" coords="216, 699, 8" href="#" alt="108" class="popup-trigger-bottom">
            <area shape="circle" coords="274, 699, 8" href="#" alt="109" class="popup-trigger-bottom">
            <area shape="circle" coords="352, 698, 8" href="#" alt="110" class="popup-trigger-bottom">
            <area shape="circle" coords="430, 699, 8" href="#" alt="111" class="popup-trigger-bottom">
            <area shape="circle" coords="507, 699, 8" href="#" alt="112" class="popup-trigger-bottom">
            <area shape="circle" coords="599, 699, 8" href="#" alt="113" class="popup-trigger-bottom">
            <area shape="circle" coords="636, 641, 8" href="#" alt="114" class="popup-trigger-bottom">
            <area shape="circle" coords="634, 575, 8" href="#" alt="115" class="popup-trigger-bottom">
            <area shape="circle" coords="635, 480, 8" href="#" alt="116" class="popup-trigger">
            <area shape="circle" coords="635, 430, 8" href="#" alt="117" class="popup-trigger">
            <area shape="circle" coords="624, 349, 8" href="#" alt="118" class="popup-trigger">
            <area shape="circle" coords="509, 327, 8" href="#" alt="119" class="popup-trigger">
            <area shape="circle" coords="429, 329, 8" href="#" alt="120" class="popup-trigger">
            <area shape="circle" coords="353, 328, 8" href="#" alt="121" class="popup-trigger">
            <area shape="circle" coords="275, 328, 8" href="#" alt="122" class="popup-trigger">
            <area shape="circle" coords="156, 327, 8" href="#" alt="123" class="popup-trigger">
            <area shape="circle" coords="44, 268, 8" href="#" alt="201" class="popup-trigger">
            <area shape="circle" coords="46, 211, 8" href="#" alt="202" class="popup-trigger">
            <area shape="circle" coords="46, 152, 8" href="#" alt="203" class="popup-trigger">
            <area shape="circle" coords="44, 93, 8" href="#" alt="204" class="popup-trigger">
            <area shape="circle" coords="46, 37, 8" href="#" alt="205" class="popup-trigger">
            <area shape="circle" coords="102, 37, 8" href="#" alt="206" class="popup-trigger">
            <area shape="circle" coords="156, 37, 8" href="#" alt="207" class="popup-trigger">
            <area shape="circle" coords="215, 39, 8" href="#" alt="208" class="popup-trigger">
            <area shape="circle" coords="274, 37, 8" href="#" alt="209" class="popup-trigger">
            <area shape="circle" coords="350, 34, 8" href="#" alt="210" class="popup-trigger">
            <area shape="circle" coords="510, 35, 8" href="#" alt="211" class="popup-trigger">
            <area shape="circle" coords="582, 33, 8" href="#" alt="212" class="popup-trigger">
            <area shape="circle" coords="669, 35, 8" href="#" alt="213" class="popup-trigger">
            <area shape="circle" coords="745, 40, 8" href="#" alt="214" class="popup-trigger">
            <area shape="circle" coords="814, 39, 8" href="#" alt="215" class="popup-trigger">
            <area shape="circle" coords="881, 37, 8" href="#" alt="216" class="popup-trigger">
            <area shape="circle" coords="998, 37, 8" href="#" alt="217" class="popup-trigger-right">
            <area shape="circle" coords="156, 94, 8" href="#" alt="301" class="popup-trigger">
            <area shape="circle" coords="154, 154, 8" href="#" alt="302" class="popup-trigger">
            <area shape="circle" coords="155, 211, 8" href="#" alt="303" class="popup-trigger">
            <area shape="circle" coords="155, 272, 8" href="#" alt="304" class="popup-trigger">
            <area shape="circle" coords="159, 430, 8" href="#" alt="305" class="popup-trigger">
            <area shape="circle" coords="156, 505, 8" href="#" alt="306" class="popup-trigger">
            <area shape="circle" coords="158, 575, 8" href="#" alt="307" class="popup-trigger-bottom">
            <area shape="circle" coords="158, 646, 8" href="#" alt="308" class="popup-trigger-bottom">
            <area shape="circle" coords="102, 575, 8" href="#" alt="401" class="popup-trigger-bottom">
            <area shape="circle" coords="216, 575, 8" href="#" alt="402" class="popup-trigger-bottom">
            <area shape="circle" coords="274, 575, 8" href="#" alt="403" class="popup-trigger-bottom">
            <area shape="circle" coords="351, 573, 8" href="#" alt="404" class="popup-trigger-bottom">
            <area shape="circle" coords="430, 574, 8" href="#" alt="405" class="popup-trigger-bottom">
            <area shape="circle" coords="509, 573, 8" href="#" alt="406" class="popup-trigger-bottom">
            <area shape="circle" coords="572, 573, 8" href="#" alt="407" class="popup-trigger-bottom">
            <area shape="circle" coords="686, 575, 8" href="#" alt="408" class="popup-trigger-bottom">
            <area shape="circle" coords="744, 575, 8" href="#" alt="409" class="popup-trigger-bottom">
            <area shape="circle" coords="815, 574, 8" href="#" alt="410" class="popup-trigger-bottom">
            <area shape="circle" coords="880, 574, 8" href="#" alt="411" class="popup-trigger-bottom">
            <area shape="circle" coords="881, 480, 8" href="#" alt="412" class="popup-trigger">
            <area shape="circle" coords="881, 432, 8" href="#" alt="413" class="popup-trigger">
            <area shape="circle" coords="882, 348, 8" href="#" alt="414" class="popup-trigger">
            <area shape="circle" coords="881, 268, 8" href="#" alt="415" class="popup-trigger">
            <area shape="circle" coords="882, 211, 8" href="#" alt="416" class="popup-trigger">
            <area shape="circle" coords="880, 109, 8" href="#" alt="417" class="popup-trigger">
            <area shape="circle" coords="274, 93, 8" href="#" alt="501" class="popup-trigger">
            <area shape="circle" coords="275, 154, 8" href="#" alt="502" class="popup-trigger">
            <area shape="circle" coords="274, 211, 8" href="#" alt="503" class="popup-trigger">
            <area shape="circle" coords="274, 268, 8" href="#" alt="504" class="popup-trigger">
            <area shape="circle" coords="271, 430, 8" href="#" alt="505" class="popup-trigger">
            <area shape="circle" coords="275, 503, 8" href="#" alt="506" class="popup-trigger">
            <area shape="circle" coords="274, 645, 8" href="#" alt="507" class="popup-trigger-bottom">
            <area shape="circle" coords="355, 215, 8" href="#" alt="601" class="popup-trigger">
            <area shape="circle" coords="352, 271, 8" href="#" alt="602" class="popup-trigger">
            <area shape="circle" coords="354, 428, 8" href="#" alt="603" class="popup-trigger">
            <area shape="circle" coords="432, 481, 8" href="#" alt="604" class="popup-trigger">
            <area shape="circle" coords="507, 479, 8" href="#" alt="605" class="popup-trigger">
            <area shape="circle" coords="571, 481, 8" href="#" alt="606" class="popup-trigger">
            <area shape="circle" coords="684, 481, 8" href="#" alt="607" class="popup-trigger">
            <area shape="circle" coords="745, 479, 8" href="#" alt="608" class="popup-trigger">
            <area shape="circle" coords="816, 481, 8" href="#" alt="609" class="popup-trigger">
            <area shape="circle" coords="958, 481, 8" href="#" alt="610" class="popup-trigger-right">
            <area shape="circle" coords="999, 431, 8" href="#" alt="611" class="popup-trigger-right">
            <area shape="circle" coords="995, 347, 8" href="#" alt="612" class="popup-trigger-right">
            <area shape="circle" coords="996, 268, 8" href="#" alt="613" class="popup-trigger-right">
            <area shape="circle" coords="1000, 211, 8" href="#" alt="614" class="popup-trigger-right">
            <area shape="circle" coords="998, 158, 8" href="#" alt="615" class="popup-trigger-right">
            <area shape="circle" coords="935, 107, 8" href="#" alt="616" class="popup-trigger-right">
            <area shape="circle" coords="814, 109, 8" href="#" alt="617" class="popup-trigger">
            <area shape="circle" coords="744, 112, 8" href="#" alt="618" class="popup-trigger">
            <area shape="circle" coords="669, 111, 8" href="#" alt="619" class="popup-trigger">
            <area shape="circle" coords="583, 110, 8" href="#" alt="620" class="popup-trigger">
            <area shape="circle" coords="509, 110, 8" href="#" alt="621" class="popup-trigger">
            <area shape="circle" coords="430, 111, 8" href="#" alt="622" class="popup-trigger">
            <area shape="circle" coords="430, 212, 8" href="#" alt="701" class="popup-trigger">
            <area shape="circle" coords="582, 212, 8" href="#" alt="702" class="popup-trigger">
            <area shape="circle" coords="669, 210, 8" href="#" alt="703" class="popup-trigger">
            <area shape="circle" coords="670, 210, 8" href="#" alt="704" class="popup-trigger">
            <area shape="circle" coords="746, 212, 8" href="#" alt="705" class="popup-trigger">
            <area shape="circle" coords="817, 211, 8" href="#" alt="706" class="popup-trigger">
            <area shape="circle" coords="941, 211, 8" href="#" alt="707" class="popup-trigger-right">
            <area shape="circle" coords="680, 698, 8" href="#" alt="801" class="popup-trigger-bottom">
            <area shape="circle" coords="740, 698, 8" href="#" alt="802" class="popup-trigger-bottom">
            <area shape="circle" coords="744, 640, 8" href="#" alt="803" class="popup-trigger-bottom">
            <area shape="circle" coords="746, 430, 8" href="#" alt="804" class="popup-trigger">
            <area shape="circle" coords="744, 349, 8" href="#" alt="805" class="popup-trigger">
            <area shape="circle" coords="744, 268, 8" href="#" alt="806" class="popup-trigger">
            <area shape="circle" coords="509, 640, 8" href="#" alt="901" class="popup-trigger-bottom">
            <area shape="circle" coords="509, 430, 8" href="#" alt="902" class="popup-trigger">
            <area shape="circle" coords="510, 268, 8" href="#" alt="903" class="popup-trigger">
            <area shape="circle" coords="508, 153, 8" href="#" alt="904" class="popup-trigger">
        </map>
        <div class="popup">
            <p id="stationName">역 이름</p>
            <hr>
            <p><a href="#">출발역</a></p>
            <hr>
            <p><a href="#">도착역</a></p>
            <hr>
            <p><a href="#">경유지</a></p>
        </div>
    </div>
</div>
</body>
</html>
<script>
    const popupTriggers = document.querySelectorAll('.popup-trigger');
    const popupTriggersBottom = document.querySelectorAll('.popup-trigger-bottom');
    const popupTriggersRight = document.querySelectorAll('.popup-trigger-right');
    const popupContent = document.querySelector('.popup');
    const stationNameElement = document.getElementById('stationName');

    popupTriggers.forEach(trigger => {
        trigger.addEventListener('mouseover', (event) => {
            // Get the mouse position and update the popup's position accordingly
            const mouseX = event.clientX;
            const mouseY = event.clientY;
            popupContent.style.left = mouseX + 'px';
            popupContent.style.top = mouseY + 'px';

            // Set the station name based on the alt attribute of the clicked area
            stationNameElement.innerText = trigger.getAttribute('alt');

            popupContent.style.display = 'block';
        });

        trigger.addEventListener('mouseout', () => {
            popupContent.style.display = 'none';
        });
    });

    popupTriggersBottom.forEach(trigger => {
        trigger.addEventListener('mouseover', (event) => {
            // Get the mouse position and update the popup's position accordingly
            const mouseX = event.clientX;
            const mouseY = event.clientY;
            popupContent.style.left = mouseX + 'px';
            popupContent.style.top = (mouseY - 170) + 'px';

            // Set the station name based on the alt attribute of the clicked area
            stationNameElement.innerText = trigger.getAttribute('alt');

            popupContent.style.display = 'block';
        });

        trigger.addEventListener('mouseout', () => {
            popupContent.style.display = 'none';
        });
    });

    popupTriggersRight.forEach(trigger => {
        trigger.addEventListener('mouseover', (event) => {
            // Get the mouse position and update the popup's position accordingly
            const mouseX = event.clientX;
            const mouseY = event.clientY;
            popupContent.style.left = (mouseX - 120) + 'px';
            popupContent.style.top = mouseY + 'px';

            // Set the station name based on the alt attribute of the clicked area
            stationNameElement.innerText = trigger.getAttribute('alt');

            popupContent.style.display = 'block';
        });

        trigger.addEventListener('mouseout', () => {
            popupContent.style.display = 'none';
        });
    });

    popupContent.addEventListener('mouseover', () => {
        popupContent.style.display = 'block';
    });

    popupContent.addEventListener('mouseout', () => {
        popupContent.style.display = 'none';
    });
</script>