<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>노선도</title>
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
    <h1>노선도</h1>
    <img src="/img/map.png"  usemap="#map" alt="No view">
    <map name="map" id="map">
        <area shape="circle" coords="509, 327, 8" href="#popup" alt="영역1">
    </map>
    <input type="checkbox" id="popup">
    <label for="popup">View</label>
    <div>
        <div>
            <label for="popup">
                <titl>X</titl>
            </label>
            <h1>출발역으로 설정</h1>
            <h1>도착역으로 설정</h1>
        </div>
        <label for="popup"></label>
    </div>
</body>
</html>