<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>노선도</title>
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
    <h1>노선도</h1>
    <img src="/img/map.png"  usemap="#map" alt="No view" id="fullMap">
    <map name="map" id="map">
        <area shape="circle" coords="509, 327, 8" href="#" alt="영역1" id="popup-trigger">
    </map>
    <div class="popup" id="popup-content">
        <p>119</p>
        <hr>
        <p><a href="#">출발역</a></p>
        <hr>
        <p><a href="#">도착역</a></p>
        <hr>
        <p><a href="#">경유지</a></p>
    </div>
</body>
</html>
<script>
    const popupTrigger = document.getElementById('popup-trigger');
    const popupContent = document.getElementById('popup-content');

    popupTrigger.addEventListener('mouseover', () => {
        popupContent.style.display = 'block';
    });

    popupContent.addEventListener('mouseout', (event) => {
        if (!popupContent.contains(event.relatedTarget)) {
            popupContent.style.display = 'none';
        }
    });
</script>